.tasklist {
  margin: 24px;
  padding: 24px;
  background: #fff;
  background-color: white;
}
.tab-spacing .ant-tabs-tab {
  margin-right: 70px;
  margin-left: 20px;
}

.ant-tabs-tab + .ant-tabs-tab {
  margin-left: 20px;
}

.tab-spacing .ant-tabs-tab:nth-child(2) {
  margin-right: 50px;
}
.tab-spacing .ant-tabs-tab:nth-child(1) {
  margin-right: 50px;
}

.ant-tabs-tab:hover {
  color: #1890ff;
}
.toggle-status {
  margin-right: 30px;
}

.edit-button {
  margin-right: 30px;
}
